<div class="wrapper main-mtb">
  <h1 class="text-dark-blue mb-20">Резервации</h1>

  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let reservation of reservations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ reservation.startDate | date: 'dd.MM.yyyy' }} - {{ reservation.endDate | date: 'dd.MM.yyyy' }} г.
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="mt-10"><span class="bold">Име:</span> {{ reservation.client.firstName }} {{ reservation.client.lastName }}</p>
      <p class="mt-10"><span class="bold">Брой гости:</span> {{ reservation.guests }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
