$gostopolis-theme-accent: (
    50 : #ffedee,
    100 : #ffd3d5,
    200 : #ffb5b9,
    300 : #ff979d,
    400 : #ff8188,
    500 : #ff6b73,
    600 : #ff636b,
    700 : #ff5860,
    800 : #ff4e56,
    900 : #ff3c43,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe5e6,
    A700 : #ffcbcd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gostopolis-theme-primary: (
    50 : #e2e6ee,
    100 : #b6c1d5,
    200 : #8698b9,
    300 : #566e9d,
    400 : #314f88,
    500 : #0d3073,
    600 : #0b2b6b,
    700 : #092460,
    800 : #071e56,
    900 : #031343,
    A100 : #7890ff,
    A200 : #4566ff,
    A400 : #123cff,
    A700 : #002cf7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$gostopolis-theme-warn: (
    50 : #f8e6e6,
    100 : #eec1c1,
    200 : #e29898,
    300 : #d66e6e,
    400 : #ce4f4f,
    500 : #c53030,
    600 : #bf2b2b,
    700 : #b82424,
    800 : #b01e1e,
    900 : #a31313,
    A100 : #ffd5d5,
    A200 : #ffa2a2,
    A400 : #ff6f6f,
    A700 : #ff5656,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);