<div class="background-color display-flex content-center items-center">
  <div class="card">
    <h2 class="title mb-20 text-center">Промяна на парола</h2>
    <p class="text-center mb-20 mr-20 ml-20">Въведете новата си парола два пъти.</p>
    <form method="post" class="mr-20 ml-20" [formGroup]="changePasswordForm" (ngSubmit)="change()">
      <label class="form-label">Парола: </label>
      <mat-form-field appearance="outline" class="width-100 mt-10">
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.['required']">Полето е задължително.</mat-error>
        <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.['minlength']">Въведете поне 8 символа.</mat-error>
      </mat-form-field>

      <label class="form-label">Повтори парола: </label>
      <mat-form-field appearance="outline" class="width-100 mt-10">
        <input matInput type="password" appComparePassword="newPassword" formControlName="confirmNewPassword">
        <mat-error *ngIf="confirmNewPassword?.touched && confirmNewPassword?.errors?.['required']">Полето е задължително.</mat-error>
        <mat-error *ngIf="confirmNewPassword?.touched && confirmNewPassword?.errors?.['minlength']">Въведете поне 8 символа.</mat-error>
        <mat-error *ngIf="confirmNewPassword?.touched && confirmNewPassword?.errors?.['compareFailed']">Паролите не съвпадат.</mat-error>
      </mat-form-field>

      <button class="width-100 button" mat-raised-button color="accent" type="submit">Изпрати</button>
    </form>
  </div>
</div>
