<div class="background-color display-flex content-center items-center">
  <a [routerLink]="['/']" class="button-back" mat-icon-button matTooltip="Accent" color="accent">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div class="card">
    <h2 class="title mb-20 text-center">Вашият имейл е потвърден.</h2>
    <div class="mr-20 ml-20">
      <a [routerLink]="['/auth/login']" class="width-100 button text-decoration-none text-white" mat-raised-button color="accent">Влезте в профила си</a>
    </div>
  </div>
</div>
