<div class="wrapper manage-warpper display-flex content-between pt-40 mb-40">

    <div class="sidebar">
      <a [routerLink]="['/accommodation/details']" [queryParams]="{ id: accommodation.id }" class="text-decoration-none">
        <div class="manage-info-container display-flex gap-1 items-center">
          <div class="img-container">
            <div class="relative">
              <img [src]="accommodation.coverPhotoUrl" class="property-image">
            </div>
          </div>
          <div>
            <h2 class="property-heading mt-10 mb-10 text-dark-blue">{{ accommodation.type.name }} "{{ accommodation.name }}"</h2>
            <p class="property-subheading mt-10">{{ accommodation.address }}</p>
          </div>
        </div>
      </a>

        <div class="spacer"></div>

        <div class="menu display-flex content-between">
            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('statistics')" [ngClass]="{'menu-item-selected': tabId == 'statistics'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-chart-simple fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Статистики</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('reservations')" [ngClass]="{'menu-item-selected': tabId == 'reservations'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-book fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Резервации</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('general-info')" [ngClass]="{'menu-item-selected': tabId == 'general-info'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-circle-info fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Обща информация</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('gallery')" [ngClass]="{'menu-item-selected': tabId == 'gallery'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-images fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Галерия</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('details')" [ngClass]="{'menu-item-selected': tabId == 'details'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-file fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Детайли</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer" (click)="changeTab('rooms')"
                [ngClass]="{'menu-item-selected': tabId == 'rooms'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-door-closed fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Стаи</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

            <div class="menu-item display-flex items-center content-between cursor-pointer"
                (click)="changeTab('eatings')" [ngClass]="{'menu-item-selected': tabId == 'eatings'}">
                <div class="display-flex items-center">
                    <i class="fa-solid fa-burger fa-lg text-dark-blue"></i>
                    <p class="ml-10 text-dark-blue">Изхранвания</p>
                </div>
                <i class="fa-solid fa-angle-right fa-lg text-dark-blue"></i>
            </div>

        </div>
    </div>

    <div class="content">
        <div *ngIf="tabId === 'statistics'">
            <h1 class="content-heading text-dark-blue mb-10">Брой резервации по месеци</h1>
            <div id="chart">
                <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                    [dataLabels]="chartOptions.dataLabels!" [grid]="chartOptions.grid!" [stroke]="chartOptions.stroke!"
                    [title]="chartOptions.title!"></apx-chart>
            </div>
        </div>

        <div *ngIf="tabId === 'reservations'">
          <h1 class="content-heading text-dark-blue mb-10">Днес предстои да настаните</h1>
          <p class="text-gray mb-10" *ngIf="todayReservations.length == 0">Няма планирани резервации за днес.</p>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let reservation of todayReservations">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ reservation.client.firstName }} {{ reservation.client.lastName }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ reservation.startDate | date: 'dd.MM.yyyy HH:mm'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p class="mb-10">
                <span class="font-weight-500">Номер на резервацията: </span> {{ reservation.id }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Брой гости: </span> {{ reservation.guests }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Име на резервацията: </span> {{ reservation.client.firstName }} {{ reservation.client.lastName }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Телефон: </span> {{ reservation.client.phoneNumber}}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Стаи №: </span> {{ reservation.tableNumbers }}
              </p>
              <!--                    <button mat-raised-button color="accent" class="color-white" (click)="openConfirmDeleteReservationDialog()">Премахни резервация</button>-->
            </mat-expansion-panel>
          </mat-accordion>

          <h1 class="content-heading text-dark-blue mt-40 mb-10">Предстоящи резервации</h1>
          <p class="text-gray mb-10" *ngIf="upcomingReservations.length == 0">Няма предстоящи резервации.</p>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let reservation of upcomingReservations">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ reservation.client.firstName }} {{ reservation.client.lastName }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ reservation.startDate | date: 'dd.MM.yyyy'}} - {{ reservation.endDate | date: 'dd.MM.yyyy'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p class="mb-10">
                <span class="font-weight-500">Номер на резервацията: </span> {{ reservation.id }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Брой гости: </span> {{ reservation.guests }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Име на резервацията: </span> {{ reservation.client.firstName }} {{ reservation.client.lastName }}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Телефон: </span> {{ reservation.client.phoneNumber}}
              </p>
              <p class="mb-10">
                <span class="font-weight-500">Стаи №: </span> {{ reservation.tableNumbers }}
              </p>
              <!--                    <button mat-raised-button color="accent" class="color-white" (click)="openConfirmDeleteReservationDialog()">Премахни резервация</button>-->
            </mat-expansion-panel>
          </mat-accordion>

            <div class="display-flex content-between items-center mt-40 flex-wrap">
                <h1 class="content-heading text-dark-blue">Минали резервации</h1>
                <p class="edit cursor-pointer" (click)="openPastReservationsDialog()">Преглед</p>
            </div>

        </div>

        <div *ngIf="tabId === 'general-info'">
          <div class="display-flex label-container content-between items-center mb-20">
            <div class="mb-20">
              <div class="display-flex content-between items-center flex-wrap">
                <h1 class="content-heading text-dark-blue mb-10">Промяна на обща информация</h1>
                <p class="edit cursor-pointer" (click)="openGeneralInfoDialog()">Редактирай</p>
              </div>
              <p class="text-gray mt-10">Внимание! След всяка промяна на общата информация за обект е необходимо
                повторно одобрение на заявка от администратор.</p>

              <div class="display-flex flex-wrap mt-20">
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Категория обект</span>
                  <p class="mt-10">Място за настаняване</p>
                </div>
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Тип на обекта</span>
                  <p class="mt-10">{{ accommodation.type.name }}</p>
                </div>
              </div>

              <div class="display-flex flex-wrap mt-40">
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Име на обекта</span>
                  <p class="mt-10">{{ accommodation.name }}</p>
                </div>
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">УИК/ЕИК</span>
                  <p class="mt-10">{{ accommodation.identificationNumber }}</p>
                </div>
              </div>

              <div class="display-flex flex-wrap mt-40">
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Документ</span>
                  <a target="_blank" [href]="accommodation.ownershipDocumentUrl">
                    <p class="mt-10">Отвори</p>
                  </a>
                </div>
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Адрес на обекта</span>
                  <p class="mt-10">{{ accommodation.address }}</p>
                </div>
              </div>

              <div class="display-flex flex-wrap mt-40">
                <div class="width-50">
                  <span class="text-dark-blue font-weight-500">Телефонен номер</span>
                  <a [href]="'tel:' + accommodation.phoneNumber">
                    <p class="mt-10">{{ accommodation.phoneNumber }}</p>
                  </a>
                </div>
              </div>

              <div class="mt-40">
                <span class="text-dark-blue font-weight-500">Описание</span>
                <div [innerHTML]="accommodation.description"></div>
              </div>

              <div class="mt-40">
                <span class="text-dark-blue font-weight-500">Удобства</span>
                <p class="mt-10">{{ accommodation.hasParking ? 'Паркинг,' : ''}} {{ accommodation.hasPosTerminal ? 'POS терминал,' : ''}} {{ accommodation.acceptOnlinePayments ? 'Плащане през нашата платформа,' : ''}} {{ accommodation.acceptPets ? 'Домашни любимци' : ''}}</p>
              </div>

              <div class="mt-40">
                <span class="text-dark-blue font-weight-500">Езици, говорени от персонала</span>
                <p class="mt-10">{{ accommodation.spokenLanguages }}</p>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="tabId === 'gallery'">
          <div class="display-flex flex-wrap content-between items-center mb-40">
            <h1 class="content-heading text-dark-blue">Галерия</h1>
            <p class="edit cursor-pointer" (click)="openGalleryUploadDialog()">Добави</p>
          </div>
          <div class="gallery-container" gallerize>
            <div *ngFor="let image of images, let i = index" class="image-wrapper">
              <img [src]="image.data?.src" [attr.imageSrc]="image.data?.src" [attr.thumbSrc]="image.data?.thumb" class="image-tag"/>
              <div class="transparent-box display-flex items-center content-center gap-05">
                <a (click)="setAsCoverImage(image.data?.src)"><i class="fa-solid fa-book action-button text-white cursor-pointer" matTooltip="Задай по подразбиране"></i></a>
                <a (click)="deleteImage(i)"><i class="fa-solid fa-trash action-button text-accent cursor-pointer" matTooltip="Изтрий"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="tabId === 'details'">
          <div class="display-flex flex-wrap content-between items-center">
            <h1 class="content-heading text-dark-blue">Детайли за обекта</h1>
            <p class="edit cursor-pointer" (click)="openEditDetailsDialog()">Редактирай</p>
          </div>

          <div class="mt-40">
            <p class="mt-10" *ngIf="accommodation.isTemporaryClosed && accommodation.isVerified">Вашето място за настаняване е одобрено от администратор и очаква да бъде показано на нашите потребители, след като всичко е готово.<p>
            <p class="mt-10" *ngIf="!accommodation.isTemporaryClosed">Вашето място за настаняване е отбелязано като <b>отворено</b>, това означава, че потребителите могат да го достъпват, както и да създават резервации в него.<p>
            <p class="mt-10" *ngIf="!accommodation.isVerified">Процесът на одобрение от администратор е ключов етап във внимателното и качествено подбиране на местата за настаняване, които се присъединяват към нашата платформа. Стремим се да осигурим на нашите потребители най-доброто изживяване, затова използваме стриктни критерии за одобрение.<p>
            <p class="mt-10" *ngIf="!accommodation.isVerified">Когато заведението бъде създадено или редактирано, нашите администратори извършват подробен анализ и преглед на неговите характеристики, които могат да влияят на клиентите откъм настроение и преживяване.</p>
            <p class="mt-10" *ngIf="!accommodation.isVerified">След извършването на този обстоен анализ, нашите администратори вземат решение дали мястото за настаняване отговаря на нашите стандарти за качество и е подходящо за показване в платформата ни. След одобрение, партньорът получава възможността да отвори място за настаняване си пред неговите дигитални потребители, което включва показване на информацията за него и предоставяне на възможност за резервации и оценки.</p>
          </div>

          <div class="mt-40 display-flex gap-1">

            <button mat-raised-button color="accent" class="text-white" matTooltip="Може да затворите вашия обект временно."
                    matTooltipPosition="above" *ngIf="!accommodation.isTemporaryClosed && accommodation.isVerified" (click)="changeVisibility()">Затвори обект</button>
            <button mat-raised-button color="primary" *ngIf="accommodation.isVerified && accommodation.isTemporaryClosed" (click)="changeVisibility()">Отвори обект</button>
          </div>
            <div class="mt-40" *ngIf="accommodation.facilities !== ''">
                <span class="text-dark-blue font-weight-500">Удобства</span>
              <div *ngFor="let category of groupedFacilities">
                <h2 class="form-heading text-dark-blue mt-20 ">{{ category.name }}</h2>
                <div class="display-flex flex-wrap gap-05 content-start">
                  <div class="comforts-container display-flex gap-05" *ngFor="let facility of category.facilities">
                    <i class="fa-solid fa-check"></i>
                    <p class="amenity-label">{{ facility }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-40" *ngIf="accommodation.checkInTime !== null || accommodation.checkOutTime !== null">
                <span class="text-dark-blue font-weight-500">Часове за настаняване и напускане</span>
                <p class="mt-10">Настаняване: 15:00</p>
                <p class="mt-10">Напускане: 11:00</p>
            </div>
        </div>

        <div *ngIf="tabId === 'rooms'">
          <div class="display-flex flex-wrap content-between items-center">
            <h1 class="content-heading text-dark-blue">Стаи</h1>
            <p class="edit cursor-pointer" (click)="openAddRoomDialog()">Добави</p>
          </div>

          <div class="display-flex gap-1 flex-wrap mt-20">
            <mat-card class="room-width" *ngFor="let room of accommodation.rooms; let i = index" [matTooltip]="room.name" matTooltipPosition="above">
              <mat-card-content class="display-flex flex-column">
                <p class="text-center mb-10">Номер: {{ room.number }}</p>
                <p class="text-center mb-10">Капацитет {{ room.capacity }}</p>
                <p class="text-center mb-10">ет. {{ room.floor }}</p>
                <div class="display-flex content-center gap-05 text-accent">
                  <i class="fa-solid fa-pen cursor-pointer gray" (click)="openEditRoomDialog()"></i>
                  <i class="fa-solid fa-trash cursor-pointer gray"></i>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div *ngIf="tabId === 'eatings'">
            <div class="display-flex flex-wrap content-between items-center mb-20">
                <h1 class="content-heading text-dark-blue">Изхранвания </h1>
                <p class="edit cursor-pointer" (click)="openAddEatingDialog()">Добави</p>
            </div>

            <div class="display-flex flex-column gap-1">
                <p *ngFor="let meal of meals">{{ meal.name }} ({{ meal.startTime }} - {{ meal.endTime}}) <i
                        (click)="removeEating(meal)" class="fa-solid fa-trash text-accent cursor-pointer mr-10"></i>
                    <i class="fa-solid fa-pen text-accent cursor-pointer"></i>
                </p>
            </div>

        </div>

    </div>

</div>
