<div class="background-color display-flex content-center items-center">
  <button class="button-back" mat-icon-button matTooltip="Accent" color="accent">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <div class="card">
    <h2 class="title mb-20 text-center">Забравихте паролата си?</h2>
    <p class="text-center mb-20 mr-20 ml-20">На посочения от Вас имейл ще получите линк за промяна на паролата.</p>
    <form method="post" class="mr-20 ml-20" [formGroup]="forgottenPasswordForm" (ngSubmit)="send()">
      <label class="form-label">Email: </label>
      <mat-form-field appearance="outline" class="width-100 mt-10">
        <input matInput type="email" placeholder="Email" formControlName="email" name="email">
        <mat-error *ngIf="email?.touched && email?.errors?.['required']">Полето е задължително.</mat-error>
        <mat-error *ngIf="email?.touched && email?.errors?.['email']">Въведете валиден имейл.</mat-error>
      </mat-form-field>

      <button [disabled]="isButtonDisabled" class="width-100 button text-white" mat-raised-button type="submit" color="accent">
        Изпрати <span *ngIf="timeRemaining > 0">{{ formatTime(timeRemaining) }}</span>
      </button>

      <p class="text-center mt-20">Все още нямате профил? Регистрирайте се <a class="link" [routerLink]="['/auth/register']">тук</a>.</p>
    </form>
  </div>
</div>
